#headerStartView{
    /* background-image: opacity:(opac0.2), url("../Images/BackgroundStart.jpeg");
    opacity: 0.4; */

    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url("../Images/BackgroundStart.jpeg");
    background-repeat: no-repeat;
}

#nuestraMeta {
   
    /* background-image: opacity:(opac0.2), url("../Images/BackgroundStart.jpeg");
    opacity: 0.4; */

    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url("../Images/NuestraMeta.jpeg");
    background-repeat: no-repeat;
   
    
}

#quienesSomos {
    margin: auto;
    height: 2px;
    width: 80%;
    background: Black;

    margin-bottom: 6px;
    margin-top: 2px;
    
}

#listAbout {
    background-color: #BDD2B6;
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-radius: 30px;
}

/* #headerLogo {
    background: #F8EDE3;
    border-radius: 40px;
    
} */